{
    "extends": "airbnb-base",
    "rules": {
        "linebreak-style": 0,
        "global-require": 0,
        "eslint linebreak-style": [0, "error", "windows"],
        "no-console": "off",
        "newline-per-chained-call":"off",
        "max-len": "off",
        "radix": "off",
        "no-undef":"off",
        "consistent-return":"off",
        "import/no-mutable-exports": "off",
        "object-curly-newline":"off"
        
    }
}