<!DOCTYPE html>
<html>
<head>
	<title>Broadcaster | Entry</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<div class="wrapper">
		<!-- Navbar -->
		<nav class="main-nav">
			<h1>Broadcaster</h1>
			<ul class="links">
				<li><a href="viewAllrf.html">Red flags</a></li>
				<li><a href="viewAlli.html">Interventions</a></li>
				<li><a href="signin.html">Sign Out</a></li>

			</ul>
		</nav>

	<!-- READMORE CONTAINER -->
	<section class="top-container">
		<div class="admin-readmore">
			<div class="admin-story">
			<img src="../img/corrupt.jpg">
			<h3>Job Corruption</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<a class="admin-button-accept" href="editRedflag.html">Accept</a>
            <a class="admin-button-reject" href="#">Reject</a>
            <a class="admin-button-resolve" href="readmore.html">Resolved</a>
            </div>
		</div>
		</section>
	<!--Footer  -->
				<footer>
			<p>Broadcaster &copy; 2019</p>
		</footer>
	</div>
</body>
</html>