<!DOCTYPE html>
<html>
<head>
	<title>Broadcaster | Dashboard</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<div class="wrapper">
		<!-- Navbar -->
		<nav class="main-nav">
			<h1>Broadcaster</h1>
			<ul class="links">
				<li><a href="dashboard.html" class="active">Home</a></li>
				<li><a href="profile.html">Profile</a></li>
				<li><a href="signin.html">Sign Out</a></li>
			</ul>
		</nav>
		
		<!-- VERTICAL NAVBAR -->
		<section class="top-container">
			<div class="dashboard">
				<div class="dashboard-content">
				<ul>
  					<li><a href="redflag.html">Red flag</a></li>
  					<li><a href="intervention.html">Intervention</a></li>
  					<li><a href="#about">View Red flags</a></li>
  					<li><a href="#news">View Interventions</a></li>
				</ul>
				</div>	
				<div class="dashboard-content-1">
				<h1><u>Broadcaster</u></h1>
				<p>
				Feel free to report any crime that you see in your area especially corruption, 
				or report things that the goverment need to intevrvene to.
				This is your Chance to become part of the development of African countries.</p>
				<center><a href="redflag.html" class="btn4">Get Started</a></center>
				</div>
			</div>
		</section>
		<!--Footer  -->
				<footer>
			<p>Broadcaster &copy; 2019</p>
		</footer>
	</div>
</body>
</html>