<!DOCTYPE html>
<html>
<head>
	<title>Broadcaster | Intervention</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<div class="wrapper">
		<!-- Navbar -->
		<nav class="main-nav">
			<h1>Broadcaster</h1>
			<ul class="links">
				<li><a href="dashboard.html">Home</a></li>
				<li><a href="profile.html">Profile</a></li>
				<li><a href="signin.html">Sign Out</a></li>
			</ul>
		</nav>
		<!-- VERTICAL NAVBAR -->
		<section class="top-container">
			<div class="dashboard">
				<div class="dashboard-content">
				<ul>
  					<li><a href="redflag.html">Red flag</a></li>
  					<li><a href="intervention.html" class="active">Intervention</a></li>
  					<li><a href="viewRedflag.html">View Red flags</a></li>
  					<li><a href="viewInterventions.html">View Interventions</a></li>
				</ul>
				</div>
					<!-- INTERVENTION SECTION -->
	<div class="intervention">
				<h3>Create an intervention record</h3>
		<form>
			<label for="title">Title</label>
			<input type="text" name="title">
			<label for="creator">Your Email</label>
			<input type="text" name="email">
			<label for="files">Add Image or Video</label>
			<input type="file" name="file" multiple="multiple">
			<label for="location">Location</label>
			<input type="text" name="location">
			<label for="body">Body</label>
			<textarea></textarea>
			<input type="submit" value="Create intervention" name="submit">
		</form>
	</div>
</div>
		</section>
		<!--Footer  -->
				<footer>
			<p>Broadcaster &copy; 2019</p>
		</footer>
	</div>
</body>
</html>