<!DOCTYPE html>
<html>
<head>
	<title>Broadcaster | Profile</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<div class="wrapper">
		<!-- Navbar -->
		<nav class="main-nav-1">
				<h1><a href="dashboard.html">Broadcaster</a></h1>
			</nav>

	<!-- PROFILE CONTAINER -->
	<section class="top-container">
		<div id="userProfile-1">
			<h3>User Profile</h3>
			<img src="../img/person4.jpg">
			<div id="userInfo">
				<table class="table-content-2">
					<tbody>
						<tr>
							<td><b>Name:</b></td>
							<td>Niyigena Alexandre</td>
						</tr>
						<tr>
							<td><b>Username:</b></td>
							<td>Alexandre</td>
						</tr>
						<tr>
							<td><b>Email:</b></td>
							<td>niyialexp@gmail.com</td>
						</tr>
						<tr>
							<td><b>Red flag(s) resolved:</b></td>
							<td>1</td>
						</tr>
						<tr>
							<td><b>Red flag(s) draft:</b></td>
							<td>3</td>
						</tr>
						<tr>
							<td><b>Red flag(s) rejected:</b></td>
							<td>0</td>
						</tr>
						<tr>
							<td><b>Intervention(s) resolved:</b></td>
							<td>0</td>
						</tr>
						<tr>
							<td><b>Intervention(s) draft:</b></td>
							<td>3</td>
						</tr>
						<tr>
							<td><b>Intervention(s) rejected:</b></td>
							<td>2</td>
						</tr>
					</tbody>
				</table>
			</div>
			<button class="edit-button-1">Edit</button>
			<button class="change-button">Change Password</button>
		</div>
		</section>
	<!--Footer  -->
				<footer>
			<p>Broadcaster &copy; 2019</p>
		</footer>
	</div>
</body>
</html>