<!DOCTYPE html>
<html>
<head>
	<title>Broadcaster | Sign In</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<div class="wrapper">
		<!-- Navbar -->
		<nav class="main-nav">
			<h1>Broadcaster</h1>
			<ul>
				<li><a href="../index.html">Home</a></li>
				<li><a href="signup.html">Sign Up</a></li>
				<li><a href="signin.html" class="active">Sign In</a></li>
			</ul>
		</nav>

		<!-- SIGN IN SECTION -->

	<section class="signin">
		<div class="login-box">
			<h1>Sign In</h1>
		<form action="dashboard.html">
			<div class="textbox">
				<input type="text" name="" placeholder="Username">
			</div>
			<div class="textbox">
				<input type="password" name="" placeholder="Password">
			</div>
				<input type="submit" class="btn1" value="Sign In">
		</form>
		</div>
	</section>
		<!--Footer  -->
		<footer>
			<p>Broadcaster &copy; 2019</p>
		</footer>
	</div>
</body>
</html>