<!DOCTYPE html>
<html>
<head>
	<title>Broadcaster | Interventions</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<div class="wrapper">
		<!-- Navbar -->
		<nav class="main-nav-1">
				<h1><a href="dashboard.html">Broadcaster</a></h1>
			</nav>
		
		<!-- VERTICAL NAVBAR -->
		<section class="top-container">
			<div class="dashboard">
				<div class="dashboard-content">
						<div id="userProfile">
								<img src="../img/person4.jpg">
								<h3>Alexander Prince</h3>
								<button class="edit-button">Edit Profile</button>
								</div>
				<ul>
  					<li><a href="redflag.html">Red flag</a></li>
  					<li><a href="intervention.html">Intervention</a></li>
  					<li><a href="viewRedflag.html">View Red flags</a></li>
					  <li><a href="viewInterventions.html" class="active">View Interventions</a></li>
					  <li><a href="signin.html">Sign Out</a></li>
				</ul>
				</div>	
				<div class="redflag-display">
				<div class="redflag-display-1">
					<div class="story-image">
                <img
                    src="../img/road.jpeg">
            </div>
            <div class="story-content">
                <h4>Road Fixing</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
                <a class="story-button-edit" href="editRedflag.html">Edit</a>
				<a class="story-button-delete" href="#">Delete</a>
				<a class="btn-readmore" href="readmore.html">Read more</a>
            </div>	
			</div>
			<div class="redflag-display-1">
					<div class="story-image">
                <img
                    src="../img/ikarita.jpg">
            </div>
            <div class="story-content">
                <h4>Mutuelle card</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
                <a class="story-button-edit" href="editRedflag.html">Edit</a>
				<a class="story-button-delete" href="#">Delete</a>
				<a class="btn-readmore" href="readmore.html">Read more</a>
            </div>	
			</div>
			<div class="redflag-display-1">
					<div class="story-image">
                <img
                    src="../img/road.jpeg">
            </div>
            <div class="story-content">
                <h4>Road Fixing</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
                <a class="story-button-edit" href="editRedflag.html">Edit</a>
				<a class="story-button-delete" href="#">Delete</a>
				<a class="btn-readmore" href="readmore.html">Read more</a>
            </div>	
			</div>
			<div class="redflag-display-1">
				<div class="story-image">
			<img
				src="../img/ikarita.jpg">
		</div>
		<div class="story-content">
			<h4>Mutuelle card</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.</p>
			<a class="story-button-edit" href="editRedflag.html">Edit</a>
			<a class="story-button-delete" href="#">Delete</a>
			<a class="btn-readmore" href="readmore.html">Read more</a>
		</div>	
		</div>
		</div>
			</div>
		</section>
		<!--Footer  -->
				<footer>
			<p>Broadcaster &copy; 2019</p>
		</footer>
	</div>
</body>
</html>