<!DOCTYPE html>
<html>
<head>
	<title>Broadcaster | View all</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<div class="wrapper">
		<!-- Navbar -->
		<nav class="main-nav">
			<h1>Broadcaster</h1>
			<ul class="links">
				<li><a href="viewAllrf.html" class="active">Red flags</a></li>
				<li><a href="viewAlli.html">Interventions</a></li>
				<li><a href="signin.html">Sign Out</a></li>
			</ul>
		</nav>

	<!-- VIEW ALL CONTAINER -->
	<section class="top-container">
			<div class="admin-content">
				<div class="redflag-display-1">
					<div class="story-image">
                <img
                    src="../img/corrupt.jpg">
            </div>
            <div class="story-content">
                <h4>Job corruption</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
                <a class="readmore-button" href="Areadmore.html">Read more >></a>
                <h5>Posted by Niyigena Alexandre on 12.12.2019</h5>
            </div>	
			</div>
			<div class="redflag-display-1">
					<div class="story-image">
                <img
                    src="../img/rwanda.jpg">
            </div>
            <div class="story-content">
                <h4>Land  corruption</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
                <a class="readmore-button" href="Areadmore.html">Read more >></a>
                  <h5>Posted by Nyampinga Esperance on 13.09.2019</h5>
            </div>	
			</div>
			<div class="redflag-display-1">
					<div class="story-image">
                <img
                    src="../img/corrupt.jpg">
            </div>
            <div class="story-content">
                <h4>Land corruption</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
                <a class="readmore-button" href="Areadmore.html">Read more >></a>
                <h5>Posted by Cyubahiro Tresor on 15.09.2015</h5>
            </div>	
            </div>
            <div class="redflag-display-1">
					<div class="story-image">
                <img
                    src="../img/corrupt.jpg">
            </div>
            <div class="story-content">
                <h4>Land corruption</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
                <a class="readmore-button" href="Areadmore.html">Read more >></a>
                <h5>Posted by Nyampinga Esperance on 13.09.2019</h5>
            </div>	
            </div>
            			<div class="redflag-display-1">
					<div class="story-image">
                <img
                    src="../img/rwanda.jpg">
            </div>
            <div class="story-content">
                <h4>Job corruption</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.</p>
                <a class="readmore-button" href="Areadmore.html">Read more >></a>
                <h5>Posted by Nyampinga Esperance on 13.09.2019</h5>
            </div>	
            </div>
		</div>
		</section>
	<!--Footer  -->
				<footer>
			<p>Broadcaster &copy; 2019</p>
		</footer>
	</div>
</body>
</html>